<div *ngIf="flight; else loading">
  <h2>You are going to book {{ flight.airline }} ({{ flight.from }} → {{ flight.to }})</h2>
</div>
<form class="booking-form-wrapper" [formGroup]="bookingForm" (ngSubmit)="submit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Booking Information</mat-card-title>
    </mat-card-header>
    <mat-card-content class="form-wrapper">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Full name</mat-label>
            <input matInput formControlName="fullName" />
            @if (bookingForm.get('fullName')?.hasError('required')) {
              <mat-error>Full name is required</mat-error>
            } @else if (bookingForm.get('fullName')?.hasError('minlength')) {
              <mat-error>Full name must be at least 3 characters</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            @if (bookingForm.get('email')?.hasError('required')) {
              <mat-error>Email is required</mat-error>
            } @else if (bookingForm.get('email')?.hasError('email')) {
              <mat-error>Enter a valid email</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Contact number</mat-label>
            <input matInput formControlName="contactNumber" />
            @if (bookingForm.get('email')?.hasError('required')) {
              <mat-error>Contact number is required</mat-error>
            } @else if (bookingForm.get('contactNumber')?.hasError('pattern')) {
              <mat-error>Enter a valid contact number</mat-error>
            }
            <!-- <mat-error *ngIf="hasError('contactNumber', 'required')">
            Contact number is required
          </mat-error>
          <mat-error *ngIf="hasError('contactNumber', 'pattern')">
            Enter a valid contact number
          </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>No. of passengers</mat-label>
            <input matInput type="number" formControlName="passengers" />
            @if (bookingForm.get('email')?.hasError('required')) {
              <mat-error>Number of passengers is required</mat-error>
            } @else if (bookingForm.get('passengers')?.hasError('min')) {
              <mat-error>At least 1 passenger</mat-error>
            } @else if (bookingForm.get('passengers')?.hasError('max')) {
              <mat-error>Maximum 5 passengers</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit">Confirm booking</button>
    </mat-card-content>
  </mat-card>
</form>

<ng-template #loading> Loading flight details... </ng-template>
