<mat-card class="example-card row" appearance="outlined">
  @if (flight) {
    <mat-card-header>
      <img
        mat-card-avatar
        [src]="'assets/airlines/' + flight['airline'] + '.png'"
        alt="{{ flight['airline'] }} logo"
      />
      <mat-card-title>{{ flight['airline'] }}</mat-card-title>
      <mat-card-subtitle>{{ flight.from }} <span>→</span> {{ flight.to }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <span
          >Number: <b>{{ flight.id }}</b></span
        >
      </p>
      <p>
        <span
          >Duration: <b>{{ flight.durationMinutes }} min</b></span
        >
      </p>
      <p>
        <span
          >Price: <b>£{{ flight.price }}</b></span
        >
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton="filled" (click)="onBook()">Book</button>
    </mat-card-actions>
  }
</mat-card>
