@if (booking && flight) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>Booking confirmed</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Your booking reference ID is <strong>{{ booking.id }}</strong
        >.
      </p>
      <div>
        <app-booking-details
          title="Flight details"
          [items]="[
            { label: 'Selected Airline', value: flight.airline },
            { label: 'Route', value: flight.from + ' → ' + flight.to },
            { label: 'Duration', value: flight.durationMinutes + ' minutes' },
            { label: 'Price', value: '£' + flight.price },
          ]"
        >
        </app-booking-details>

        <app-booking-details
          title="Passenger details"
          [items]="[
            { label: 'Name', value: booking.fullName },
            { label: 'Email', value: booking.email },
            { label: 'Contact', value: booking.contactNumber },
            { label: 'No Of Passengers', value: booking.passengers },
          ]"
        >
        </app-booking-details>
      </div>
    </mat-card-content>
  </mat-card>
} @else {
  <div>No booking or flight details available.</div>
}
