<div class="main-wrapper">
  <div class="search-wrapper">
    <form [formGroup]="form" (ngSubmit)="submit()" class="search-form search-section col">
      <div>
        <mat-slide-toggle (change)="onToggleRoundTrip($event)" class="example-margin">
          Round Trip
        </mat-slide-toggle>
      </div>
      <div class="search-section-wrapper">
        <mat-form-field class="example-full-width">
          <mat-label>Source</mat-label>
          <input
            type="text"
            aria-label="Number"
            matInput
            formControlName="fromCity"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            @for (city of filteredOptionsCities | async; track city) {
              <mat-option [value]="city">{{ city }}</mat-option>
            }
          </mat-autocomplete>
          @if (form.get('fromCity')?.hasError('required')) {
            <mat-error> Source is required </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Destination</mat-label>
          <input
            type="text"
            aria-label="Number"
            matInput
            formControlName="toCity"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            @for (city of filteredOptionsCities | async; track city) {
              <mat-option [value]="city">{{ city }}</mat-option>
            }
          </mat-autocomplete>
          @if (form.get('toCity')?.hasError('required')) {
            <mat-error> Destination is required </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Departure date</mat-label>
          <input
            matInput
            [matDatepicker]="depPicker"
            [min]="today"
            formControlName="departureDate"
          />
          <mat-datepicker-toggle matSuffix [for]="depPicker"></mat-datepicker-toggle>
          <mat-datepicker #depPicker></mat-datepicker>
          @if (form.get('departureDate')?.hasError('required')) {
            <mat-error> Departure date is required </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Return date</mat-label>
          <input
            matInput
            [matDatepicker]="retPicker"
            [min]="form.get('departureDate')?.value"
            formControlName="returnDate"
          />
          <mat-datepicker-toggle matSuffix [for]="retPicker"></mat-datepicker-toggle>
          <mat-datepicker #retPicker></mat-datepicker>
          @if (form.errors?.['dateRangeInvalid']) {
            <mat-error> Return date must be after departure date </mat-error>
          }
        </mat-form-field>
        <button matButton="filled" type="submit" [disabled]="this.form.invalid">Search</button>
      </div>
    </form>
  </div>
</div>
